/CPdemo2_recipe/target/
/CPdemo1_startstop/target/
/CPdemo3_configfile/target/
/CPdemo4_scoreboard/target/
/CPdemo5_hats/target/
/CPdemo6_command/target/
/CPdemo7_vault/target/
/CPdemo8_villager/target/
/CPdemo9_citizen2/target/